body {
    background-color: hsl(204, 43%, 93%)
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    border-top: 30px ;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
    min-height: 100px;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.container{
    padding: 0px;
}

.row-content{
    padding: 0px auto;
    margin: 0px auto;
    border-bottom: 1px ridge;
    min-height: 200px; 
}

.footer {
    background-color:hsl(204, 43%, 93%);
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
}

.top{
    padding: 30px 20px 30px 30px;
}

.left {
    padding: 30px 30px 30px 30px;
    background-color: hsl(179, 47%, 34%);
    color: #fff;
    border-bottom-left-radius: 8px;
}

.right {
    padding: 30px 10px 30px 30px;
    background-color: hsl(179, 62%, 43%);
    color: #fff;
    border-bottom-right-radius: 8px;
}

h3 {
    color: hsl(179, 62%, 43%);
}

h4 {
    padding-bottom: 15px;
}

.list-unstyled li {
    font-size: 16px;
    color: hsl(204, 43%, 93%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Font Styling */

#bargain {
    color: hsl(71, 73%, 54%);
}

.details {
    color: hsl(218, 22%, 67%);
}

#price {
    font-size: 28px;
}

button{
     margin: auto;
}

.btn {
    background-color: hsl(71, 73%, 54%); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    pointer-events: none;

  }


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }